<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">  
    <meta name="description" content="Description of the page less than 150 characters">    
    <title>甘肃金控集团</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fullpage.min.css" />
    <link rel="stylesheet" type="text/css" href="/out/semantic.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />    
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery.fullpage.js"></script>
    <script src="/out/semantic.min.js"></script>
  </head>
  <body>
    <!-- <h1 id="title">甘肃金控</h1> -->
    <div class="ui container">
        <div id="fullpage">
            <div class="section" id="section0">
              <div class="middle-logo">
                <img src="/images/logomiddle.png" alt="">
              </div>
              <div class="slogan">多彩陇原 投融万千</div>
              <div class="subtitle">打造专业一流的国有金融资本</div>        
            </div>
            <div class="section" id="section1">
                <div class="ui menu">
                    <div class="header">
                      <img class="logo-image" src="/images/logo.png" alt="">
                      <!-- <nav></nav> -->
                    </div>
                    <a class="item" href="#"><b>首页</b></a>
                    <a class="item" href="#"><b>走进金控</b></a>
                    <a class="item" href="#"><b>资讯中心</b></a>
                    <a class="item" href="#"><b>集团业务</b></a>
                    <a class="item" href="#"><b>党群工作</b></a>
                    <a class="item" href="#"><b>企业文化</b></a>
                    <a class="item" href="#"><b>社会责任</b></a>
                    <a class="item" href="#"><b>金控学院</b></a>
                    <a class="item" href="#"><b>关于我们</b></a> 
                    <a class="item" href="#">
                      <i class="desktop icon"></i>
                      OA
                    </a> 
                    <div class="ui search">
                        <div class="ui icon input">
                          <input class="prompt" type="text" placeholder="相关搜索">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <div class="date">2017/12/10 星期天</div>
                    <div class="more">
                      <i class="large sidebar icon"></i>
                      更多
                    </div>
                  </div>
              	<div class="slide" id="slide1" data-anchor="slide1">
                      <div class="corpintro-wrapper">
                          <div class="corpintro">
                            <div class="corpintro-title">
                              <h1>甘肃金控集团简介</h1>                  
                            </div>
                              <!-- <h3 class="corpintro-title"></h3> -->
                              <div class="corpintro-body">
                                  <p>甘肃省金融控股有限公司是行业内领先的知名企业。<br>
                                    公司成立于2016年，办公地址位于交通便利的甘肃省兰州市城关区东岗西路638号。<br>
                                    甘肃省金融控股有限公司本着“客户第一，诚信至上”的原则，以实力和质量获得业界的高度认可。<br>
                                    欢迎各界朋友莅临参观，指导和业务洽谈。
                                  </p>
                              </div>
                              <div class="corpintro-nav">
                                  <button class="ui blue button">公司简介</button>
                                  <button class="ui blue button">公司文化</button>
                                  <button class="ui blue button">集团架构</button>
                                  <button class="ui blue button">业务布局</button>                    
                              </div>
                            </div>
                      </div>
                </div>
                <div class="slide" id="slide2" data-anchor="slide2"> 
                    <div class="ui menu">
                        <div class="header">
                          <img class="logo-image" src="/images/logo.png" alt="">
                          <!-- <nav></nav> -->
                        </div>
                        <a class="item" href="#"><b>首页</b></a>
                        <a class="item" href="#"><b>走进金控</b></a>
                        <a class="item" href="#"><b>资讯中心</b></a>
                        <a class="item" href="#"><b>集团业务</b></a>
                        <a class="item" href="#"><b>党群工作</b></a>
                        <a class="item" href="#"><b>企业文化</b></a>
                        <a class="item" href="#"><b>社会责任</b></a>
                        <a class="item" href="#"><b>金控学院</b></a>
                        <a class="item" href="#"><b>关于我们</b></a> 
                        <a class="item" href="#">
                          <i class="desktop icon"></i>
                          OA
                        </a> 
                        <div class="ui search">
                            <div class="ui icon input">
                              <input class="prompt" type="text" placeholder="相关搜索">
                              <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="date">2017/12/10 星期天</div>
                        <div class="more">
                          <i class="large sidebar icon"></i>
                          更多
                        </div>
                      </div>
                </div>
                <div class="slide" id="slide3" data-anchor="slide2"> 
                    <div class="ui menu">
                        <div class="header">
                          <img class="logo-image" src="/images/logo.png" alt="">
                          <!-- <nav></nav> -->
                        </div>
                        <a class="item" href="#"><b>首页</b></a>
                        <a class="item" href="#"><b>走进金控</b></a>
                        <a class="item" href="#"><b>资讯中心</b></a>
                        <a class="item" href="#"><b>集团业务</b></a>
                        <a class="item" href="#"><b>党群工作</b></a>
                        <a class="item" href="#"><b>企业文化</b></a>
                        <a class="item" href="#"><b>社会责任</b></a>
                        <a class="item" href="#"><b>金控学院</b></a>
                        <a class="item" href="#"><b>关于我们</b></a> 
                        <a class="item" href="#">
                          <i class="desktop icon"></i>
                          OA
                        </a> 
                        <div class="ui search">
                            <div class="ui icon input">
                              <input class="prompt" type="text" placeholder="相关搜索">
                              <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="date">2017/12/10 星期天</div>
                        <div class="more">
                          <i class="large sidebar icon"></i>
                          更多
                        </div>
                      </div>
                </div>
            </div>
            <div class="section" id="section2">
                <div class="ui menu">
                    <div class="header">
                      <img class="logo-image" src="/images/logo.png" alt="">
                      <!-- <nav></nav> -->
                    </div>
                    <a class="item" href="#"><b>首页</b></a>
                    <a class="item" href="#"><b>走进金控</b></a>
                    <a class="item" href="#"><b>资讯中心</b></a>
                    <a class="item" href="#"><b>集团业务</b></a>
                    <a class="item" href="#"><b>党群工作</b></a>
                    <a class="item" href="#"><b>企业文化</b></a>
                    <a class="item" href="#"><b>社会责任</b></a>
                    <a class="item" href="#"><b>金控学院</b></a>
                    <a class="item" href="#"><b>关于我们</b></a> 
                    <a class="item" href="#">
                      <i class="desktop icon"></i>
                      OA
                    </a> 
                    <div class="ui search">
                        <div class="ui icon input">
                          <input class="prompt" type="text" placeholder="相关搜索">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <div class="date">2017/12/10 星期天</div>
                    <div class="more">
                      <i class="large sidebar icon"></i>
                      更多
                    </div>
                  </div>
                  <div class="corpintro-wrapper">
                      <div class="corpintro">
                        <div class="corpintro-title">
                          <h1>甘肃金控大事记</h1>                  
                        </div>
                          <!-- <h3 class="corpintro-title"></h3> -->
                          <div class="corpintro-body">
                              <p>甘肃省金融控股有限公司是行业内领先的知名企业。<br>
                                公司成立于2016年，办公地址位于交通便利的甘肃省兰州市城关区东岗西路638号。<br>
                                甘肃省金融控股有限公司本着“客户第一，诚信至上”的原则，以实力和质量获得业界的高度认可。<br>
                                欢迎各界朋友莅临参观，指导和业务洽谈。
                              </p>
                          </div>
                          <div class="corp-milestone-nav">
                              <i class="huge angle left icon"></i>                                                              
                              <div class="ui massive action input milestone-label">
                                  <input type="text" placeholder="公司成立于2016年" disabled>
                                  <button class="huge ui icon blue button">
                                    <p class="milestone-time">2016</p>
                                  </button>
                                </div>
                                <i class="huge angle right icon"></i>                                
                          </div>
                        </div>
                  </div>
            </div>
            <div class="section" id="section3">
                <div class="ui menu">
                    <div class="header">
                      <img class="logo-image" src="/images/logo.png" alt="">
                      <!-- <nav></nav> -->
                    </div>
                    <a class="item" href="#"><b>首页</b></a>
                    <a class="item" href="#"><b>走进金控</b></a>
                    <a class="item" href="#"><b>资讯中心</b></a>
                    <a class="item" href="#"><b>集团业务</b></a>
                    <a class="item" href="#"><b>党群工作</b></a>
                    <a class="item" href="#"><b>企业文化</b></a>
                    <a class="item" href="#"><b>社会责任</b></a>
                    <a class="item" href="#"><b>金控学院</b></a>
                    <a class="item" href="#"><b>关于我们</b></a> 
                    <a class="item" href="#">
                      <i class="desktop icon"></i>
                      OA
                    </a> 
                    <div class="ui search">
                        <div class="ui icon input">
                          <input class="prompt" type="text" placeholder="相关搜索">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <div class="date">2017/12/10 星期天</div>
                    <div class="more">
                      <i class="large sidebar icon"></i>
                      更多
                    </div>
                  </div>
                  <div class="corpintro-wrapper">
                      <div class="corpintro">
                        <div class="newscenter-title">
                          <h1>资讯中心</h1>                  
                        </div>
                          <!-- <h3 class="corpintro-title"></h3> -->
                          <div class="news">
                              <div class="ui three column grid">
                                  <div class="column">
                                    <div class="ui fluid card">
                                      <div class="image">
                                        <img src="/images/news1.jpg">
                                      </div>
                                      <div class="content">
                                        <a class="header">甘肃省金融控股有限公司成立于2016年</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column">
                                    <div class="ui fluid card">
                                      <div class="image">
                                        <img src="/images/news4.jpg">
                                      </div>
                                      <div class="content">
                                        <a class="header">甘肃省金融控股有限公司成立于2016年</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column">
                                    <div class="ui fluid card">
                                      <div class="image">
                                        <img src="/images/news1.jpg">
                                      </div>
                                      <div class="content">
                                        <a class="header">甘肃省金融控股有限公司成立于2016年</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                  </div>
                  <div class="classified-news">
                      <!-- <i class="large inverted newspaper icon"></i> -->
                      <button class="ui big inverted white button">集团新闻</button>
                      <button class="ui big inverted white button">企业新闻</button>
                      <button class="ui big inverted white button">行业动态</button>
                      <button class="ui big inverted white button">战略规划</button>
                      <button class="ui big inverted white button">投资企业</button> 
                      <button class="ui big inverted white button">公益活动</button>                              
                    </div>
            </div>
            <div class="section" id="section4">
                <div class="ui menu">
                    <div class="header">
                      <img class="logo-image" src="/images/logo.png" alt="">
                      <!-- <nav></nav> -->
                    </div>
                    <a class="item" href="#"><b>首页</b></a>
                    <a class="item" href="#"><b>走进金控</b></a>
                    <a class="item" href="#"><b>资讯中心</b></a>
                    <a class="item" href="#"><b>集团业务</b></a>
                    <a class="item" href="#"><b>党群工作</b></a>
                    <a class="item" href="#"><b>企业文化</b></a>
                    <a class="item" href="#"><b>社会责任</b></a>
                    <a class="item" href="#"><b>金控学院</b></a>
                    <a class="item" href="#"><b>关于我们</b></a> 
                    <a class="item" href="#">
                      <i class="desktop icon"></i>
                      OA
                    </a> 
                    <div class="ui search">
                        <div class="ui icon input">
                          <input class="prompt" type="text" placeholder="相关搜索">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <div class="date">2017/12/10 星期天</div>
                    <div class="more">
                      <i class="large sidebar icon"></i>
                      更多
                    </div>
                  </div>
                  <div class="corpintro-wrapper">
                      <div class="corpintro">
                        <div class="corpintro-title">
                          <h1>甘肃金控集团主营业务</h1>                  
                        </div>
                          <!-- <h3 class="corpintro-title"></h3> -->
                          <div class="corpintro-body">
                              <p>甘肃省金融控股有限公司是行业内领先的知名企业。<br>
                                公司成立于2016年，办公地址位于交通便利的甘肃省兰州市城关区东岗西路638号。<br>
                                甘肃省金融控股有限公司本着“客户第一，诚信至上”的原则，以实力和质量获得业界的高度认可。<br>
                                欢迎各界朋友莅临参观，指导和业务洽谈。
                              </p>
                          </div>
                          <div class="corpintro-nav">
                              <button class="ui large blue button">金融</button>
                              <button class="ui large blue button">能源</button>
                              <button class="ui large blue button">科技</button>
                              <button class="ui large blue button">交通</button>
                              <button class="ui large blue button">建筑</button>
                              <button class="ui large blue button">基金</button>
                              <button class="ui large blue button">参股企业</button>                    
                          </div>
                        </div>
                  </div>
                  <div id="footer" class="ui inverted vertical footer segment">
                      <div class="ui container">
                        <div id="footer-content" class="ui stackable inverted divided equal height stackable grid">
                          <div class="four wide column">
                            <h4 class="ui inverted header">关于</h4>
                            <div class="ui inverted link list">
                              <a href="#" class="item">网站地图</a>
                              <a href="#" class="item">联系我们</a>
                              <a href="#" class="item">公司地址：甘肃省兰州市城关区东岗西路638号</a>
                              <a href="#" class="item">版权信息：甘肃金控集团陇ICP备14001081号-2</a>
                            </div>
                          </div>
                          <div class="four wide column">
                            <h4 class="ui inverted header">服务</h4>
                            <div class="ui inverted link list">
                              <a href="#" class="item">企业文化</a>
                              <a href="#" class="item">党群工作</a>
                              <a href="#" class="item">金控学院</a>
                              <a href="#" class="item">社会责任</a>
                            </div>
                          </div>
                          <div class="four wide column">
                            <h4 class="ui inverted header">OA入口</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">协同办公系统入口</a>                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#fullpage').fullpage();
      });
    </script>
  </body>
</html>
